@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 60 4% 11%;
    --foreground: 0 0% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 76 54% 50%;
    --primary-foreground: 60 4% 11%;

    --secondary: 0 0% 34%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 87 100% 64%;
    --accent-foreground: 60 4% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 87 100% 64%;

    --radius: 0.5rem;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  section[aria-label='Notifications alt+T'] {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }
  .animate-slide-up {
    animation: slide-up 0.4s ease-out;
  }
}
